<h1>Log In</h1>

<% if notice.present? %>
<div class="notice">
<%= notice %>
</div>
<% end %>
<div>
  <%= form_tag sessions_create_url do %>
    <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag 'Login' %>

  <% end %>


</div>
