  <div class="span4 primary row-fluid favorites">
    <h3>My Wishlist</h3>
    <ul>
      <% current_user.wishlists.each do |wish| %>
          <li><%= image_tag wish.place.photo.url(:thumb) %><%= wish.place.name.titleize %> <%= link_to raw("<i class=\"icon-remove\"></i>"), wishlist_path(wish), method: 'delete' %></li>
        <% end %>
    </ul>

  </div>

  <div class="span4 primary row-fluid favorites">
    <h3>My Favorites</h3>
    <ul>
      <% current_user.favorites.each do |favorite| %>
          <li><%= image_tag favorite.place.photo.url(:thumb) %><%= favorite.place.name.titleize %> <%= link_to raw("<i class=\"icon-remove\"></i>"), favorite_path(favorite), method: 'delete' %></li>
        <% end %>
    </ul>
  </div>
