<h1>Users</h1>

<% if @follower.try(:errors) %>
<ul>
  <% @follower.errors.full_messages.each do |msg| %>
    <li><%= msg  %></li>
  <% end %>
</ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Count</th>
      <th>1st</th>
      <th>2nd</th>
      <th>3rd</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.connections.count %></td>
      <td><%= user.connections.map {|user| user.user_connection.name }.join(' ') %></td>
      <td><%= user.nth_level(2).map {|user| user.name}.join(' ') %></td>
      <td><%= user.nth_level(3).map {|user| user.name}.join(' ') %></td>
      <td></td>
            <% unless signed_in? && current_user == user %>
        <td><%= form_tag connect_path, method: 'post' do %>
          <%= hidden_field_tag :connection_id, user.id %>
          <%= submit_tag 'Connect' %></td>
        <% end %>
      <% end %>


    </tr>
  <% end %>
  </tbody>
</table>
