<h1>Users</h1>

<% if notice.present? %>
<div>
<%= notice %>
</div>
<% end %>

<% if @connection.try(:errors) %>

  <% @connection.errors.full_messages.each do |msg| %>
    <%= msg  %>
  <% end %>

<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Count</th>
      <th>1st</th>
      <th>2nd</th>
      <th>3rd</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name.capitalize, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.connections.count %></td>
      <td><%= user.get_connections_by_level(1) %></td>
      <td><%= user.get_connections_by_level(2) %></td>
      <td><%= user.get_connections_by_level(3) %></td>
      <% if signed_in? && current_user == user %>
        <td></td>
        <% else %>
        <td>
          <%= form_tag connect_path, method: 'post' do %>
          <%= hidden_field_tag :connection_id, user.id %>
          <%= submit_tag 'Connect' %>
          <% end %>
        </td>
      <% end %>


    </tr>
  <% end %>
  </tbody>
</table>
