<h2>My Network</h2>

<% if notice.present? %>
<div class="alert alert-success">
<%= notice %>
</div>
<% end %>

<div >
  <% if @connection.try(:errors) %>

  <% @connection.errors.full_messages.each do |msg| %>
    <%= msg  %>
  <% end %>

<% end %></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th>Hometown</th>
      <th>Count</th>
      <th>1st</th>
      <th>2nd</th>
      <th>3rd</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
  <% @level_one = current_user.get_connections_by_level(1) %>
    <tr>
      <td><%= link_to user.name.capitalize, user_path(user.id) %></td>
      <% if current_user == user %>
        <td></td>
      <% else %>
      <td><span class="badge badge-travel"><%= current_user.find_level(user) %></span></td>
      <% end %>

      <% if signed_in? && current_user == user %>
        <td></td>
        <% else %>
        <td>
          <% unless @level_one.include?(user.name) %>
           <%= form_tag connect_path, method: 'post' do %>
            <%= hidden_field_tag :connection_id, user.id %>
            <%= submit_tag 'Connect' %>
            <% end %>
          <% end %>
        </td>
      <% end %>
      <td><%= user.city.try(:name) %></td>
      <td><%= user.connections.count %></td>
      <td><%= user.get_connections_by_level(1).map {|name| name.capitalize}.join(', ') %></td>
      <td><%= user.get_connections_by_level(2).map {|name| name.capitalize}.join(', ') %></td>
      <td><%= user.get_connections_by_level(3).map {|name| name.capitalize}.join(', ') %></td>


    </tr>
  <% end %>
  </tbody>
</table>
