<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="row-fluid">
  <% if signed_in? && current_user == @user %>
      <%= @user.name.titleize %> <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-small' %>
  <% end %>
</div>
<div class="row-fluid">
  <section class="span6 favorites">
    <h3><%= my_name %>Reviews</h3>
    <% @reviews = @user.reviews %>
    <ul>
      <% @reviews.each do |review| %>
        <li><%= image_tag review.place.photo.url(:thumb) %> <%= link_to review.place.name.titleize, review.place %>  <%= distance_of_time_in_words(Date.today, review.created_at) %> ago<p><%= truncate(review.review_text, :length => 150, :separator => ' ') %></p></li>
      <% end %>
    </ul>
  </section>
</div>
