<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<h3>My Reviews</h3>
<ul>
  <% @user.reviews.each do |review| %>
  <li><%= link_to review.place.name, review %></li>
  <% end %>
</ul>

<h3>My Friend's Reviews</h3>
<ul>
  <% @user.nth_level(2).each do |contact| %>
    <% contact.reviews.each do |review| %>
      <li><%= link_to contact.name.capitalize, contact %> reviewed <%= link_to review.place.name, review %></li>
    <% end %>
  <% end %>
</ul>

<h3>Their Friend's Reviews</h3>
<ul>
  <% @user.nth_level(3).each do |contact| %>
    <% contact.reviews.each do |review| %>
      <li><%= link_to contact.name.capitalize, contact %> reviewed <%= link_to review.place.name, review %></li>
    <% end %>
  <% end %>
</ul>

<h3>Upcoming Trips</h3>
<ul>
  <% @user.trips.each do |trip| %>
    <li><%= link_to trip.name.capitalize, trip %> starting on <%= trip.start_date.strftime('%A, %B %e %Y') %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
