<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<h3>My Reviews</h3>
<ul>
  <% @user.reviews.each do |review| %>
  <li><%= link_to review.place.name, review %></li>
  <% end %>
</ul>

<h3>My Friend's Reviews</h3>
<ul>
  <% @user.nth_level(1).each do |connection| %>
    <% connection.reviews.each do |review| %>
      <li><%= link_to connection.name, connection %> reviewed <%= link_to review.place.name, review %></li>
    <% end %>
  <% end %>
</ul>

<h3>Their Friend's Reviews</h3>
<ul>
  <% @user.nth_level(2).each do |connection| %>
    <% connection.reviews.each do |review| %>
      <li><%= link_to connection.name, connection %> reviewed <%= link_to review.place.name, review %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
