<div class="row-fluid">
  <% if signed_in? %>
    <!-- if logged-in -->
        <aside class="span3">
          <section>
            <% if current_user.trips.count > 0 %>
              <div>
                <h3>My Trips</h3>
                <ul class="items">
                  <% current_user.trips.each do |trip| %>
                  <li><time><%= trip.start_date %></time><p><%= link_to trip.name.titleize, trip %></p></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </section>
        </aside>

      <% if current_user.trips.count >0 %>
        <section>
          <h2>Recent Activity</h2>
          <p><%= current_user.last_trip.name %></p>
          <h3>Where I Went</h3>
          <% current_user.last_trip.trip_places.each do |place|  %>
          <p><%= link_to place.place.try(:name).try(:titleize) %></p>
          <% end %>
        </section>
      <% end %>
        </div>
    <!-- END if logged-in -->
  <% else %>
    <!-- if not logged-in -->
      <div class="primary">
        <div id="business-slide" class="main carousel slide">
          <div class="carousel-inner">
            <!-- These are the carousel images -->
            <div class="active item">
              <% @the_place = Place.find(3) %>
              <%= image_tag @the_place.photo %>
              <!-- <img src="http://lorempixel.com/600/400/city/" /> -->
              <div class="slide-text">
                <%= render 'photo_description' %>
              </div>
            </div>
            <% @places.each do |place| %>
              <div class="item">
                <%= image_tag place.photo %>
                <!-- <img src="http://lorempixel.com/600/400/city/" /> -->
                <div class="slide-text">
                <% @the_place = place %>
                <%= render 'photo_description' %>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control left" href="#business-slide" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#business-slide" data-slide="next">&rsaquo;</a>
        </div>

      </div>
  <% end %>

</div>
