<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @wishlist.user_id %>
</p>

<p>
  <b>Place:</b>
  <%= @wishlist.place_id %>
</p>


<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
