<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag 'review[place_id]', params[:place_id] %>
  <div class="field">
    <h3><%= f.label :review_text, 'What did you think about ' + Place.find(params[:place_id]).name.titleize + '?' %></h3><br>
    <%= f.text_area :review_text %>
  </div>

  <div class="actions">
    <%= f.submit 'Add' ,class: 'btn' %>
  </div>
<% end %>
