<h1>Listing reviews</h1>

<% if notice.present? %>
  <div class='alert-success'>
    <%= notice %>
  </div>
<% end %>

<% if @favorite %>
  <%= @favorite.errors.full_messages %>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Category</th>
    <th>Place</th>
    <th></th>
    <th>Review text</th>
    <th>Review date</th>
    <th>User</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.category %></td>
    <td><%= link_to review.place.name, review.place %></td>
    <% if review.user.city == review.place.city %>
    <td><%= image_tag 'local.png', alt: 'Local Review' %></td>
    <% else %>
    <td><%= image_tag 'visitor-pass.png', size: '100x30' , alt: 'Visitor Review' %></td>
    <% end %>
    <td><%= review.review_text %></td>
    <td><%= review.review_date.strftime('%b %e, %y') %></td>
    <td><%= review.user.name.capitalize %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path, class: 'btn' %>
