<div class="row-fluid">
  <aside class="span3">
    <section>
      <input type="text" placeholder="search..." />
      <input type="submit" value="Search" class="btn btn-primary" />
      <div>
        <h3>Previous Trips</h3>
        <ul class="items">
          <% current_user.trips.each do |trip| %>
            <li><time><%= trip.start_date %></time><p><%= link_to trip.name, trip %></p></li>
          <% end %>
        </ul>
      </div>
    </section>
  </aside>
  <div class="span6 primary row-fluid">
    <div class="span3">
      <div class="filters">
        <h5>Filter</h5>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
      </div>
    </div>
    <div class="span9 listings">
      <h3>Chicago Businesses</h3>
      <ul class="items cols-1-3">
        <% @places.each do |place| %>
        <li>
          <img src="http://lorempixel.com/200/150/business/" />
          <div class="item-text">
            <h5><%= place.name %></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <aside class="span3 seconday">
    <div class="listings">
      <h5>Featured Business</h5>
      <ul class="items">
        <li>
          <img src="http://lorempixel.com/125/80/business/" class="span4" />
          <div class="span8 item-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/125/80/business/" class="span4" />
          <div class="span8 item-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/125/80/business/" class="span4" />
          <div class="span8 item-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/125/80/business/" class="span4" />
          <div class="span8 item-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
        <li>
          <img src="http://lorempixel.com/125/80/business/" class="span4" />
          <div class="span8 item-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>

<!-- <h1>Listing places</h1>

<% if notice %>
    <div class-'alert-success'><%= notice %></div>
<% end %>

<table class="table table-hover">
  <tr>
    <th>City</th>
    <th>Local Fave</th>
    <th>Name</th>
    <th>Address</th>
    <th>Url</th>
    <th>Neighborhood</th>
    <th></th>
    <th></th>

  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.city.name %></td>
    <% if place.local_fave? %>
    <td><span class="badge badge-success"><i class="icon-heart icon-white"></i></span></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to place.name.titleize, place %></td>
    <td><%= place.address.titleize %></td>
    <td><%= place.url %></td>
    <td><%= place.neighborhood.titleize %></td>
    <% if signed_in? %>
    <% if current_user.has_trip_to_city(place.city_id) &&  %>
        <td><%= link_to 'Add to Trip', add_to_trip_path(place_id: place.id, city_id: place.city_id), method: 'post', class: 'btn btn-small' %></td>
    <% else %>
        <td></td>
    <% end %>
    <% end %>
    <td><%= link_to "Favorite", favorites_path(place_id: place.id), method: 'post', class: 'btn' %></td>
  </tr>
<% end %>
</table>

<br />
    <%= link_to 'New Place', new_place_path, class: 'btn' %>
 -->
