<div class="row-fluid">

  <aside class="span3">
    <section>
      <% if signed_in? %>
        <div>
          <h3>Previous Trips</h3>
          <ul class="items">
            <% current_user.trips.each do |trip| %>
              <li><time><%= trip.start_date %></time><p><%= link_to trip.name, trip %></p></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span9 primary row-fluid">
      <% if notice %>
        <div><%= notice %></div>
      <% end %>
      <% if @favorite %>
        <% @favorite.errors.full_messages.each do |message| %>
        <div><%= message %></div>
        <% end %>
      <% end %>
      <% if @wishlist %>
        <% @wishlist.errors.full_messages.each do |message| %>
        <div><%= message %></div>
        <% end %>
      <% end %>
<!--     <div class="span3">
      <div class="filters">
        <h5>Filter</h5>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="some-filter" /><label>Some Filter</label>
        </div>
        <%= link_to 'Add Place', new_place_path, class: 'btn' %>
      </div>
    </div> -->
    <div class="listings">
      <h3>Travel Local<%= " #{params[:category].titleize}" if params[:category] %> in Chicago
    <%= link_to 'Add Place', new_place_path, class: 'btn' %>
    </h3>
      <ul class="items cols-1-3">
        <% @places.each do |place| %>
        <li>
          <% if place.photo.present? %>
            <%= image_tag place.photo.url(:medium) %>
          <% else %>
            <img src="http://lorempixel.com/200/150/business/" />
          <% end %>
          <div class="item-text">
            <h5><%= link_to place.name.titleize, place %><br>
              <%= link_to raw("<i class=\"icon-thumbs-up\"></i>"), favorites_path(place_id: place.id), method: 'post' %>
              <%= link_to raw("<i class=\"icon-briefcase\"></i>"), wishlists_path(place_id: place.id), method: 'post' %>
              <!-- raw html tooltips
                <a href="#" class="add-favorite" title="Add Favorite" data-trigger="hover"><i class="icon-thumbs-up"></i></a>
                <a href="#" class="add-wishlist" title="Add to Wishlist" data-trigger="hover"><i class="icon-briefcase"></i></a>
               -->
            </h5>
            <p><%= place.description.split(/\s/)[0..15].join(' ')+'...' if place.description %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<script>
$('.add-favorite').tooltip({trigger: 'hover'});
$('.add-wishlist').tooltip({trigger: 'hover'});
</script>
