
<% if @favorite %>
  <% @favorite.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
<% end %>
<% if @wishlist %>
  <% @wishlist.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
<% end %>
<% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
  <% if signed_in? %>
    <% if RecommendationRequest.where(friend_id: current_user.id).exists? %>
      <div class="row-fluid">
        <% request = RecommendationRequest.where(friend_id: current_user.id).last %>
        <div class="alert alert-success">
          <%= User.find(request.try(:user_id)).name.capitalize %> has asked for a <%= link_to 'recommendation  ', request %>for a trip to <%= City.find(request.city_id).name.titleize %>
        </div>
      </div>
    <% end %>
  <% end %>

<div class="listings">
  <h3>
    Travel Local<span><%= " #{params[:category].titleize}" if params[:category] %></span> in Chicago
    </h3>
      <ul class="items cols-1-3">
        <% @places.order("name").each do |place| %>
        <li>
          <% if place.photo.present? %>
            <%= link_to (image_tag place.photo.url(:medium)), place_path(place) %>
          <% else %>
            <img src="http://lorempixel.com/200/150/business/" />
          <% end %>
          <div class="item-text">
            <span class="quick-actions">
              <% if place.local_fave? %>
                <%= link_to raw("<i class=\"icon-certificate\"></i>"), '#', method: 'post', class: 'add-trip', :"data-toggle" => "tooltip", title: 'Local Favorite' %>
              <% end %>
              <% if signed_in? %>
                <%= link_to raw("<i class=\"icon-thumbs-up\"></i>"), favorites_path(place_id: place.id), method: 'post', class: 'add-favorite', :"data-toggle" => "tooltip", title: 'Add to Favorites' %>
                <%= link_to raw("<i class=\"icon-briefcase\"></i>"), wishlists_path(place_id: place.id), method: 'post', class: 'add-wishlist', :"data-toggle" => "tooltip", title: 'Add to Wishlist' %>
                <%= link_to raw("<i class=\"icon-plane\"></i>"), add_to_trip_path(place_id: place.id, city_id: place.city_id), method: 'post', class: 'add-trip', :"data-toggle" => "tooltip", title: 'Add to Trip' %>
              <% end %>
            </span>
            <h5><%= link_to place.name.titleize, place %></h5>
            <h6><%= place.neighborhood.titleize %></h6>

            <!-- <p><%= smart_truncate(place.description, 75) if place.description %></p> -->
            <!-- <p><%= place.description.split(/\s/)[0..15].join(' ')+'...' if place.description %></p> -->
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
