<p id="notice"><%= notice %></p>


<p>
</p>
<div>
  <h3>  <%= @place.name.titleize %></h3>
</div>
<div class= 'span3 pull-left'>
  <%= image_tag @place.photo.url(:medium) %>
</div>

<div class= 'place-details span9'>
  <p>
  <b>City:</b>
  <%= @place.city.name %><br>
  <b>Category:</b>
  <%= @place.category.try(:name).titleize %><br>
  <b>Address:</b>
  <%= @place.address.titleize %><br>
  <b>Url:</b>
  <%= @place.url %><br>

  <b>Neighborhood:</b>
  <%= @place.neighborhood.titleize %>
</p>
  <%= link_to "Favorite", favorites_path(place_id: @place.id), method: 'post', class: 'btn' %>
  <%= link_to 'Add to Trip', add_to_trip_path(place_id: @place.id, city_id: @place.city_id), method: 'post', class: 'btn' %>
</div>

<div >
</div>
<div class='clearfix:after'><p>
  <b>Description:</b>
  <%= @place.try(:description) %>
</p>
</div>

<h4>Reviews</h4>
<div>
  <ul>
    <% @place.reviews.each do |review| %>
    <li><%= review.user.name.titleize %> said:<br> <%= review.review_text %></li>
    <% end %>
  </ul>
</div>


