<div class="row-fluid">
  <div class="span8 primary">

    <h3>
      <%= @place.name.titleize %>
      <% if signed_in? && current_user == User.find(14) %>
        <%= link_to raw("<i class=\"icon-edit\"></i>"), edit_place_path,  class: 'add-trip', :"data-toggle" => "tooltip", title: 'Edit Place' %>
<!--         <%= link_to 'Delete', place_path(@place), class: 'btn btn-danger', method: 'delete', confirm: 'Are you sure?' %> -->
      <% end %>
    </h3>
    <div class="row-fluid">
      <div class="span6">
        <div>
          <%= image_tag @place.photo.url(:medium) %><br>
          <div >
            <span class="label"> <i class="icon-certificate icon-white"></i>&nbsp;Local Favorite</span>
            <% if signed_in? %>
              <span class="label"> <%= friends_fave.count %> friends love this place</span>
            <% end %>
          </div>

        </div>
        <% if signed_in? %>
        <div class="actions-btns">
            <%= link_to raw("<i class=\"icon-thumbs-up icon-large\"></i>"), favorites_path(place_id: @place.id), method: 'post', class: 'add-favorite', :"data-toggle" => "tooltip", title: 'Add to Favorites' %>
            <%= link_to raw("<i class=\"icon-briefcase icon-large\"></i>"), wishlists_path(place_id: @place.id), method: 'post', class: 'add-wishlist', :"data-toggle" => "tooltip", title: 'Add to Wishlist' %>
            <%= link_to raw("<i class=\"icon-plane icon-large\"></i>"), add_to_trip_path(place_id: @place.id, city_id: @place.city_id), method: 'post', class: 'add-trip', :"data-toggle" => "tooltip", title: 'Add to Trip' %>
          </div>
          <% end %>
        <div>
        <h4>Description:</h4>
        <%= @place.try(:description) %>

        </div>

      </div>
      <div class="span6">
        <div>
          <p>Category: <%= @place.category.try(:name).try(:titleize) %></p>
          <p><%= @place.address.try(:titleize) %></p>
          <p><%= @place.city.name %></p>
          <p><%= link_to @place.url, @place.url %></p>
          <p>Neighborhood: <%= @place.neighborhood.try(:titleize) %></p>

        </div>
       <h4>
            Reviews
            <% if signed_in? %>
            <%= link_to raw("<i class=\"icon-plus icon-large\"></i>"), new_review_path,  class: 'add-trip', :"data-toggle" => "tooltip", title: 'Add a New Review' %>
            <% else %>
              <h5>Sign in or Sign Up to Add a Review!</h5>
            <% end %>
          </h4>
          <ul class="single-reviews-list">
            <% @place.reviews.each do |review| %>
              <% if review.user.city == review.place.city %>
                <li class="local">
              <% else %>
                <li class="visitor">
              <% end %>
              <%= link_to review.user.name.try(:titleize), user_path(review.user) %> said:<br> <%= review.review_text %></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
