<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @place.city.name %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Url:</b>
  <%= @place.url %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @place.neighborhood %>
</p>

<h2>Reviews</h2>
<div>
  <ul>
    <% @place.reviews.each do |review| %>
    <li><%= review.review_text %></li>
    <% end %>
  </ul>
</div>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
