<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Travellocal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orienta|Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page">
  <header id="header">

    <div class="branding">
      <h1 class="site-name">Travel Logo</h1>
      <%= link_to (image_tag 'logo-01.png', size: '150x150', class: "site-logo"), current_user %>
    </div>

    <div class="meta-header">
      <div class="form-group">
        <div class="form-search search">
          <%= form_tag places_path,class: 'navbar-search input-append input-prepend' , method: 'get' do %>
            <%= render 'cities_dropdown' %>
            <%= text_field_tag :search, nil, class: "search-query", placeholder: 'Search Places' %>
            <%= submit_tag 'Search', class: 'btn' %>
          <% end %>
        </div>
      </div>
      <div class="login-logout">
        <% if signed_in?  %>
          <p>Welcome <%= link_to current_user.name.capitalize, user_path(current_user) %>!</p>
          <%= link_to 'Log Out', sessions_destroy_path, class: 'btn' %>
        <% else %>
          <%= link_to 'Log In', sessions_new_path, class: 'btn' %>
          <div class="login-form">
          </div>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <nav class="span10 offset2 nav nav-8">
        <% Category.all.each do |category| %>
          <%= link_to category.name.titleize, places_path(category: category.name) %>
        <% end %>
      </nav>
    </div>

  </header>

  <div id="main">

    <%= yield %>

  </div>

    <footer id="footer">
      <div class="colophon">
        <p>&copy; Copyright 2013 Travel Local.</p>
      </div>
    </footer>

  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
