<!DOCTYPE html>
<html>
<head>
  <title>Travellocal</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
  <header id="header">

    <div class="row-fluid">

      <section class="span3 branding">
        <h1 class="site-name"><%= link_to 'Travel Local', root_path %></h1>
      </section>

      <section class="span6 social">
        <div class="social-icons"></div>
        <div class="social-feeds">
          <ul class="items">
          <%= form_tag places_path,class: 'navbar-search' , method: 'get' do %>
            <li class="item"><%= text_field_tag :search, nil, class: "search-query", placeholder: 'Search Places' %></li>
          <% end %>
          </ul>
        </div>
      </section>

      <section class="span3 conntect">
        <% if signed_in?  %>
          <div>
            Welcome <%= link_to current_user.name.capitalize, user_path(current_user) %>!
            <%= link_to 'Log Out', sessions_destroy_path, class: 'btn' %>
          </div>
        <% else %>
          <%= link_to 'Log In', sessions_new_path, class: 'btn' %>
          <div class="login-form">
          </div>
        <% end %>
        <section class="action">
        </section>
      </section>
    </div>

    <div class="row-fluid">
      <section class="span3 drop-down">

        <%= form_tag cities_path do %>
          <%= select_tag :id, options_from_collection_for_select(City.all, :id, :name) %>
        <% end %>
      </section>
      <section class="span9 nav nav-8">
        <% Category.all.each do |category| %>
          <%= link_to category.name.titleize, places_path(category: category.name) %>
        <% end %>
      </section>
    </div>
  </header>
  <div id="main">

  <%= yield %>

  </div>
    <footer id="footer">
      <div class="row-fluid">
        <section class="span6 social-feed">
          <ul class="items">
            <li class="item">Twitter Social Feed</li>
          </ul>
        </section>
        <section class="span6 social-feed">
          <ul class="items">
            <li class="item">Facebook Live Social Feed</li>
          </ul>
        </section>
      </div>
      <div class="colophon">
        <p>&copy; Copyright 2013 Travel Local.</p>
      </div>
    </footer>
  </div>
</body>
</html>
